In [1]:
# student_marks.csv contains the marks and other details for some students. Write a python program to:

# Open the file in read mode
# Create a dictionary from the given data
# Add a new field to the dictionary total\_marks and store the total marks of the students.
# Add a new field to the dictionary Average and store the average marks of the students.
# Create a new file and write this information to the new file
# (https://www.kaggle.com/arunkumar413/student-marks)

In [2]:
with open("student_marks.csv","r") as s:
    student_data = s.readlines()
student_data

['Name,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\n',
 'John,M,05/04/1988,55,45,56,87,21,52,89,65\n',
 'Suresh,M,4/5/1987,75,55,,64,90,61,58,2\n',
 'Ramesh,M,25/5/1989,25,54,89,76,95,87,56,74\n',
 'Jessica,F,12/8/1990,78,55,86,63,54,89,75,45\n',
 'Jennifer,F,2/9/1989,58,96,78,46,96,77,83,53']

In [3]:
headers = student_data[0].strip().split(",")
headers

['Name',
 'Gender',
 'DOB',
 'Maths',
 'Physics',
 'Chemistry',
 'English',
 'Biology',
 'Economics',
 'History',
 'Civics']

In [12]:
student_details = []

for student in student_data[1:]:
    student = student.strip().split(",")
    student
    row_dict = dict(zip(headers, student))
    row_dict
    student_details.append(row_dict)
    
student_details

[{'Name': 'John',
  'Gender': 'M',
  'DOB': '05/04/1988',
  'Maths': '55',
  'Physics': '45',
  'Chemistry': '56',
  'English': '87',
  'Biology': '21',
  'Economics': '52',
  'History': '89',
  'Civics': '65'},
 {'Name': 'Suresh',
  'Gender': 'M',
  'DOB': '4/5/1987',
  'Maths': '75',
  'Physics': '55',
  'Chemistry': '',
  'English': '64',
  'Biology': '90',
  'Economics': '61',
  'History': '58',
  'Civics': '2'},
 {'Name': 'Ramesh',
  'Gender': 'M',
  'DOB': '25/5/1989',
  'Maths': '25',
  'Physics': '54',
  'Chemistry': '89',
  'English': '76',
  'Biology': '95',
  'Economics': '87',
  'History': '56',
  'Civics': '74'},
 {'Name': 'Jessica',
  'Gender': 'F',
  'DOB': '12/8/1990',
  'Maths': '78',
  'Physics': '55',
  'Chemistry': '86',
  'English': '63',
  'Biology': '54',
  'Economics': '89',
  'History': '75',
  'Civics': '45'},
 {'Name': 'Jennifer',
  'Gender': 'F',
  'DOB': '2/9/1989',
  'Maths': '58',
  'Physics': '96',
  'Chemistry': '78',
  'English': '46',
  'Biology': '96',
  'Economics': '77',
  'History': '83',
  'Civics': '53'}]

In [42]:
# Add a new field to the dictionary total_marks and store the total marks of the students.
# [{'Name': 'John',
#   'Gender': 'M',
#   'DOB': '05/04/1988',
#   'Maths': '55',
#   'Physics': '45',
#   'Chemistry': '56',
#   'English': '87',
#   'Biology': '21',
#   'Economics': '52',
#   'History': '89',
#   'Civics': '65'}]

for student in student_details:
    total_marks = 0
    for key in student:
        
        if key not in ["Name",'Gender','DOB']:
            if student[key] != "":
                student[key] = int(student[key])
                total_marks += student[key]
            else:
                pass
            student["total_marks"] = total_marks
    student["Average"] = total_marks/6
student_details

[{'Name': 'John',
  'Gender': 'M',
  'DOB': '05/04/1988',
  'Maths': 55,
  'Physics': 45,
  'Chemistry': 56,
  'English': 87,
  'Biology': 21,
  'Economics': 52,
  'History': 89,
  'Civics': 65,
  'total_marks': 1146,
  'Average': 191.0},
 {'Name': 'Suresh',
  'Gender': 'M',
  'DOB': '4/5/1987',
  'Maths': 75,
  'Physics': 55,
  'Chemistry': '',
  'English': 64,
  'Biology': 90,
  'Economics': 61,
  'History': 58,
  'Civics': 2,
  'total_marks': 982,
  'Average': 163.66666666666666},
 {'Name': 'Ramesh',
  'Gender': 'M',
  'DOB': '25/5/1989',
  'Maths': 25,
  'Physics': 54,
  'Chemistry': 89,
  'English': 76,
  'Biology': 95,
  'Economics': 87,
  'History': 56,
  'Civics': 74,
  'total_marks': 1348,
  'Average': 224.66666666666666},
 {'Name': 'Jessica',
  'Gender': 'F',
  'DOB': '12/8/1990',
  'Maths': 78,
  'Physics': 55,
  'Chemistry': 86,
  'English': 63,
  'Biology': 54,
  'Economics': 89,
  'History': 75,
  'Civics': 45,
  'total_marks': 1322,
  'Average': 220.33333333333334},
 {'Name': 'Jennifer',
  'Gender': 'F',
  'DOB': '2/9/1989',
  'Maths': 58,
  'Physics': 96,
  'Chemistry': 78,
  'English': 46,
  'Biology': 96,
  'Economics': 77,
  'History': 83,
  'Civics': 53,
  'total_marks': 1424,
  'Average': 237.33333333333334}]