# File Handling Exercise

Solution

### 1. student_marks.csv contains the marks and other details for some students. Write a python program to:
- Download the Data From (https://www.kaggle.com/arunkumar413/student-marks)
- Open the csv file in read mode
- Create dictionary from the given data by doing some processing for keys and values
- Add a new field to the dictionary `total_marks` and store total marks of the students.
- Add new field to the dictionary `Average` and store average marks of the students
- with the final Dictionary create a new file "output.csv" and write this information to the this file

In [ ]:
# downloading and saving the file
# TODO: use the givn link to download the file
# TODO: Save the file in the current directory after downloading

In [5]:
# openning the file in read mode
f = open('student_marks.csv', 'r')

In [6]:
#let's see the contents of the file
f.read()

',Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\nJohn,M,05/04/1988,55,45,56,87,21,52,89,65\nSuresh,M,4/5/1987,75,55,,64,90,61,58,2\nRamesh,M,25/5/1989,25,54,89,76,95,87,56,74\nJessica,F,12/8/1990,78,55,86,63,54,89,75,45\nJennifer,F,2/9/1989,58,96,78,46,96,77,83,53'

In [10]:
# creating dictionary
f.seek(0)  #goto the start again

#creating a dictionary to store as {key: value} pair 
d = {}

#1st line contain all the attributes names
keys = f.readline()
keys

',Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\n'

In [11]:
#let split on ',' and get all the attributes names
keys = keys.split(',')
keys[-1] = keys[-1][:-1]    # removing extra '\n' for Civics attribute [Very Important]
keys

['',
 'Gender',
 'DOB',
 'Maths',
 'Physics',
 'Chemistry',
 'English',
 'Biology',
 'Economics',
 'History',
 'Civics']

In [13]:
# intializing the dictionary with the attributes that we have got and defining values as empty list
for key in keys:
    d[key] = []

print(d)

{'': [], 'Gender': [], 'DOB': [], 'Maths': [], 'Physics': [], 'Chemistry': [], 'English': [], 'Biology': [], 'Economics': [], 'History': [], 'Civics': []}

In [14]:
# Adding data to the dictionary
for line in f.readlines():
    data = line.split(',')
    data[-1] = data[-1][:-1]    # removing extra '\n' from the attribute 'Civics'
    
    j = 0   #for placing each values in correct key
    for key in d:
        d[key].append(data[j])
        j += 1

print(d)

{'': ['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'], 'Gender': ['M', 'M', 'M', 'F', 'F'], 'DOB': ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'], 'Maths': ['55', '75', '25', '78', '58'], 'Physics': ['45', '55', '54', '55', '96'], 'Chemistry': ['56', '', '89', '86', '78'], 'English': ['87', '64', '76', '63', '46'], 'Biology': ['21', '90', '95', '54', '96'], 'Economics': ['52', '61', '87', '89', '77'], 'History': ['89', '58', '56', '75', '83'], 'Civics': ['65', '2', '74', '45', '5']}

In [15]:
#let's print in nice format

import pprint

pprint.pprint(d)

{'': ['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'],
 'Biology': ['21', '90', '95', '54', '96'],
 'Chemistry': ['56', '', '89', '86', '78'],
 'Civics': ['65', '2', '74', '45', '5'],
 'DOB': ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'],
 'Economics': ['52', '61', '87', '89', '77'],
 'English': ['87', '64', '76', '63', '46'],
 'Gender': ['M', 'M', 'M', 'F', 'F'],
 'History': ['89', '58', '56', '75', '83'],
 'Maths': ['55', '75', '25', '78', '58'],
 'Physics': ['45', '55', '54', '55', '96']}

In [18]:
#let's see all the keys once
#let's see all the values once


print("Keys: ")
print(d.keys())

Keys:
dict_keys(['', 'Gender', 'DOB', 'Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics'])

In [19]:
#let's see all the values once

print("Values: ")
print(d.values())

Values:
dict_values([['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'], ['M', 'M', 'M', 'F', 'F'], ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'], ['55', '75', '25', '78', '58'], ['45', '55', '54', '55', '96'], ['56', '', '89', '86', '78'], ['87', '64', '76', '63', '46'], ['21', '90', '95', '54', '96'], ['52', '61', '87', '89', '77'], ['89', '58', '56', '75', '83'], ['65', '2', '74', '45', '5']])

**Task1: calculating the total marks**

In [20]:
#here we have 5 students John, Suresh, Ramesh, Jessica, Jennifer
#here we have 8 subjects 'Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics'

#let's create another key "total_marks" in the dictionary to store the total marks for these 5 students
#initially let's define the marks as 0

d['total_marks'] = [0]* 5   #this will results in [0, 0, 0, 0, 0]

#let's define all the subjects that students wrote the exam in another list
all_subjects = ['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics']

In [25]:
for i in range(0, 5):    #Because we have 5 students
    sum_marks = 0        #let use one varibale which keep the sum of all subjects for each student
    for subject in all_subjects:
        try:
            #d[subject][i] --> for that particular student [i], get particular subject marks
            sum_marks = sum_marks + int(d[subject][i])  
        except:
            #because we have empty marks for some subjects like chemistry [may be that student did not write that exam]
            pass
    
    #finally assigning the sum_marks to the dictionary d for that student i
    d['total_marks'][i] = sum_marks

In [26]:
#let's print the total marks
d['total_marks']

[470, 405, 556, 545, 539]

**Task2: calculating the Average marks**

In [29]:
# Calculating the average marks
d['Average Marks'] = [0]*5  # [0]*5 because we have 5 students

total_subjects = len(all_subjects) #['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Economics', 'History', 'Civics']

for i in range(5):
    d['Average Marks'][i] = d['total_marks'][i]/total_subjects

print(d['Average Marks'])

[58.75, 50.625, 69.5, 68.125, 67.375]

**Task3**

- Can you create a new CSV file from the above student_marks.csv file? The output file should contain the following all the dictionary data with added new total marks and average marks:

In [44]:
#opening the file in write mode
f_out = open("output.csv", "w")

#joinging all the keys with comma as seperator
header = ','.join([key for key in d.keys()])
f_out.write(header+'\n')

#for values [joining by each attribute values]
for key in d:
    vals = ','.join([str(v) for v in d[key]])
    f_out.write(f"{vals}\n")

#closing the file
f_out.close()
print(f"Writing to the file ({f_out}) is done.")

Writing to the file (<_io.TextIOWrapper name='output.csv' mode='w' encoding='cp1252'>) is done.

In [45]:
# check the file
with open("output.csv", 'r') as f:
    print(f.read())

,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics,total_marks,Average Marks
John,Suresh,Ramesh,Jessica,Jennifer
M,M,M,F,F
05/04/1988,4/5/1987,25/5/1989,12/8/1990,2/9/1989
55,75,25,78,58
45,55,54,55,96
56,,89,86,78
87,64,76,63,46
21,90,95,54,96
52,61,87,89,77
89,58,56,75,83
65,2,74,45,5
470,405,556,545,539
58.75,50.625,69.5,68.125,67.375