In [15]:
import pandas as pd

# Create data set for 15 days (currently incorrect lengths)
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'city': ['new york', 'new york', 'new york', 'mumbai', 'mumbai', 'mumbai'],
    'temperature': [32, 36, 28, 33, 90, 85],
    'windspeed': [6, 7, 12, 7, 5, 8],
    'event': ['Rain', 'Sunny', 'Snow', 'Sunny', 'Rain', 'Snow']
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)
print(df)

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017    mumbai           33          7  Sunny
4  1/5/2017    mumbai           90          5   Rain
5  1/6/2017    mumbai           85          8   Snow

In [17]:
df[df.city == 'new york'].temperature.max()
df[df.city == 'mumbai'].temperature.max()

np.int64(90)

In [18]:
g = df.groupby('city')
g

In [22]:
for city , data in g:
    print('max',city)
    print('max:',data.temperature.max())

max mumbai
max: 90
max new york
max: 36

In [29]:
g.get_group('new york')
g.get_group('mumbai')

        day    city  temperature  windspeed  event
3  1/4/2017  mumbai           33          7  Sunny
4  1/5/2017  mumbai           90          5   Rain
5  1/6/2017  mumbai           85          8   Snow

In [32]:
g.max()
g.min()
g.mean(numeric_only=True)
g.size()

city
mumbai      3
new york    3
dtype: int64

In [33]:
def grouper(df, idx, col):
    if 80 <= df[col].loc[idx] <= 90:
        return '80-90'
    elif 50 <= df[col].loc[idx] <= 60:
        return '50-60'
    else:
        return 'others'

In [34]:
g = df.groupby(lambda x: grouper(df, x, 'temperature'))
g

In [35]:
for key, d in g:
    print('Group by:',key)
    print(d)

Group by: 80-90
        day    city  temperature  windspeed event
4  1/5/2017  mumbai           90          5  Rain
5  1/6/2017  mumbai           85          8  Snow
Group by: others
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017    mumbai           33          7  Sunny